.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4rem;
  background-color: var(--bg);
  border-top: 1px solid var(--accent-soft);
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

.footer__nav {
  justify-self: center;
}

.footer__social--icons {
  justify-self: end;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__nav ul {
  display: flex;
  gap: 2rem;
}

.footer__nav ul li {
  font-family: Bebas Neue;
  font-size: 1.2rem;
  color: var(--muted);
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
}

.footer__nav ul li:hover {
  color: var(--text-gold);
}

.footer__social--icons {
  display: flex;
  gap: 2rem;
}

.footer__social--icon {
  color: var(--text-gold);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer__social--icon:hover {
  color: var(--muted);
}

.footer__bottom--info {
  font-size: 0.9rem;
  font-family: Inter;
  color: var(--muted);
  opacity: 80%;
}

.footer__bottom--info-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
  }

  .footer__nav ul {
    gap: 1rem;
  }
}

@media (max-width: 895px) {
  .footer {
    padding: 1.5rem 2rem;
  }

  .footer__middle {
    text-align: center;
    min-width: 11rem;
  }

  .footer__bottom--info {
    font-size: 0.7rem;
  }

  .footer__nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .footer__nav ul li {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  /* .footer__middle {
    width: 11rem;
  } */

  .footer__top {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  .footer__middle {
    gap: 0rem;
  }

  .footer__bottom--info {
    display: none;
  }

  .footer__bottom--info-mobile {
    display: block;
    /* padding: 0rem 4rem; */
    font-size: 0.8rem;
    font-family: Inter;
    text-align: center;
    color: var(--muted);
    opacity: 80%;
  }
}
